.search.icon {
  color: #000;
  position: absolute;
  margin-top: 2em;
  margin-left: 7px;
  width: 15px;
  height: 15px;
  border: solid 1px currentColor;
  border-radius: 100%;
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
          transform: rotate(-45deg);
  float:right;
  background-color: inherit;
}
.search.icon:before {
  content: '';
  position: absolute;
  top: 14px;
  left: 5px;
  height: 6px;
  width: 1px;
  background-color: currentColor;
}
.edit-solid.icon {
  color: #000;
  position: absolute;
  width: 14px;
  height: 2px;
  border-radius: 1px;
  border: solid 1px currentColor;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.edit-solid.icon:before {
  content: '';
  position: absolute;
  left: -12px;
  top: -1px;
  width: 0;
  height: 0;
  border-left: solid 5px transparent;
  border-right: solid 5px currentColor;
  border-top: solid 2px transparent;
  border-bottom: solid 2px transparent;
}

.plus.icon {
  margin: -1em;
  color: #000;
  position: absolute;
}

.plus.icon:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: currentColor;
  border: 1px solid black;
}

.plus.icon:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
          transform: rotate(90deg);
  border: 1px solid black;

}

