@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
body, html{height: 100%;}
input, textarea{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: grid;

    grid-template-rows: auto 5%;
    /* 12px para la primera columna correspondiente al sidebar */
    grid-template-columns: 14% auto; 
    grid-template-areas:
    "sidebar right"
    "footer footer";
}

a { text-decoration: none; }
ul { list-style-type: none; float:right; }
ul li {
    display:inline;
}
ul li a { color: #fff; padding: 15px; }

table {
    width: 100%;
    border: none;
    background: #f1f1f1;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

.logo {
    padding: 15px;
    margin-left: 15px;
    background-color: #F3F1C7;
    color: #298383;
    text-align:center;
    font-weight: bold;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


header{
    background-color: #41c7c7;
    grid-area: head;
    display: grid;
    grid-template-columns: 20% auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

header  form{
    display: inline-block;
}

header a:hover {

    color: #2Ea0a0;

}

.hero{
    /*background-color: #36ADAD;*/
    padding: 2em;
    border-top: 5px solid #2Ea0a0;
    grid-area: hero;
}

.hero h1, .tab-item a, th{
    text-transform: uppercase;
        color: #298383;
    margin-left: .5em;
}

.sidebar{
    grid-area: sidebar;
    background: #1c9090;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.sidebar ul{
    float: none;
    margin-left: -2em;
    padding-top: 3em;
}

.sidebar ul li{
    display: block;
    padding-top: 1.5em;
}

.sidebar a:hover{
    color: #41c7c7;
    text-decoration: underline;
}

.main{
    grid-area: right;
    grid-template-rows: 60px auto;
    display: grid;
    grid-template-areas: 
        "head"
        "hero"
        "inventions"
        "features";
}

hr{
    width: 90%;
    margin: .5em;
}

.container{
    background: #f2f2f2;
    margin: 0 auto;
    padding: .5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.row{
    padding: 0.5em;
    display:block;
}

.row label{
    position:absolute;
    margin-left: .3em;
}

.request-control-icon{
    float:right;
    padding: 1em;
}

.row input, .row select,
.row textarea {
    background: inherit;
    border: none;
    border-bottom: 1px solid #2Ea0a0;
    margin-top: 1.5em;
    padding: .5em;
    width:80%;
    margin-left: .5em;

}

.row option{
    background-color:inherit;
}
.row input[type=submit]{
    background: #36ADAD;
    font-size: 1em;
    border: 2px solid #2Ea0a0;
    color: #fffbc5;
    padding: .5em;
    width: 100px;
    bottom: 5px;
}

.cancel{
    background: inherit;
    font-size: 1em;
    border: 2px solid #d3d3d3;
    color: #333;
    padding: .5em;
    width: 100px;
    bottom: 5px;
}

.quality-control-details{
    
    display: grid;
    grid-gap: 2px;
    grid-template-rows: 50%;
    grid-template-columns: 60% 40%;
    grid-template-areas:
    "quality-control product"
    "quality-control defect"; 
}

.title-section
{
    margin-top: 5px;
    padding: 0.3em;
    color: #298383;
    text-align:center;
    font-weight: bold;
    display: inline-block;
}

.control-details{
    background-color: #f2f2f2;
    grid-area: quality-control;
}

.product-details{
    background-color: #d3d3d3;
    grid-area: product;
}
.defect-details{
    background-color: #e6e6e6;
    grid-area: defect;
}

.product-details, .defect-details,
 .control-details{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row .row:nth-child(1)
{
    width: 45%;
    float: left;
}
.row .row:nth-child(2)
{
    float: left;
}

/*Tab section*/
.tab .tab-item{
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    border-bottom: 1px solid #2Ea0a0;
    margin-bottom: .5em;
}

.instructions{
    display: grid;
    grid-template-rows: 15% auto;
    grid-template-columns: 30% 70%;
    grid-template-areas:
        "title title"
        "instruction table"
}

.instructions .title{
    grid-area: title;
}

.instructions .container:nth-child(1){
    grid-area: instruction;
}
.instructions .container{
    margin: 2px;
}

.instructions .container:nth-child(2){
    grid-area: table;
}


.btn-performed{
    padding: .5em;
    background-color: #4CAF50;

    font-size: 1em;
    color: #333;
    width: 7em;
    bottom: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.btn-pending{
    background-color: #41c7c7;
    font-size: 1em;
    color: #333;
    padding: .5em;
    width: 7em;
    bottom: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
input[type="submit"]:disabled {
    background: #ddd;
    color: #333;
    border: inherit;
}

.login-form{
    margin: 0 auto;
    width: 40%;
}

.chart{
    margin: 0 auto;
    width: 60%;
    height: 60%
}

option{
    background-color: inherit;
    color: inherit;
}


.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
    

footer{
    grid-area: footer;
    background-color: lightgray;
}
@media screen and (max-width: 60em){
    .sidebar{
        display: none;
    }
    body{
        grid-template-columns: auto; 
        grid-template-areas:
        "right"
        "footer";
    }
    .main{
        grid-template-areas: 
        "head"
        "hero"
        "features"
        "inventions";
    }
}
@media screen and (max-width: 40em){
    .main{
        grid-template-rows: auto fit-content(30%) 40% auto;
    }
    header{
        grid-template-columns: auto;
        grid-template-rows: repeat(2,auto);
    }

    .logo{
        margin-left: 0;
    }
    nav ul{
        float: none;
        padding: 0;
        margin: 0;

    }
    nav ul li a{
        width: calc(25% - 35px);
        display: inline-block;
        font-size: .9em;
    }

    .hero, .info{
        grid-template-columns: auto;
        text-align: center;
    }

    .main{
        grid-template-areas: 
        "head"
        "hero"
        "inventions"
        "features";
    }
    h1, h2{
        font-size: 1.2em;
    }
    .content p, .content-two p{
        font-size: .9em;
    }


    footer{
        background-color: #41c7c7;
    }

    footer p {
        color: #fff;
        text-align: center;
    }


}