<div class="defect" *ngIf="defect">
    <div class="defect-title">
        <h3 class="qpc-view-title" ><span class="badge">{{defect.id}}</span> {{defect.name | uppercase}}</h3>
        <hr>
    </div>
    <div class="details-section defect-details">
        <div class="form-group">
            <label for="defectName">Defect</label>
            <input type="text" id="defectName"  [(ngModel)]="defect.name"class="form-control">
        </div>
        <div class="form-group" *ngIf="defect.id > 0">
            <label>Product</label>
            <p>
                {{defect.product}}
            </p>
        </div>
        <div class="form-group" *ngIf="defect.id == 0">
            <label for="products">Product</label>
            <select name="products"  id="products" [(ngModel)]="selectedProduct" class="form-control" >
                <option *ngFor="let product of products" value="{{product.id}}">{{product.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="defectDescription">Description</label>
            <textarea id="defectDescription"  [(ngModel)]="defect.description" 
                class="form-control"> </textarea>
        </div>
    </div>
    <div class="buttons-section">
        <button class="btn btn-default" (click)="Save()">Save</button>
        <a class="btn cancel" (click)="Cancel()">Cancel</a>
    </div>
</div>