<div *ngIf="isLoginError" class="text-danger">
    Incorrect username or password
</div>
<form #loginForm="ngForm" class="qpc-login-form"
(ngSubmit)="OnSubmit(UserName.value,Password.value)" >

    <div class="qpc-login-title">
      <h3>Login</h3>
    </div>
    <hr>
    <div class="form-group">
      <label for="email">Email</label>        
      <input type="text" #UserName ngModel name="UserName" 
      placeholder="Username" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="password">password</label>
      <input type="password" #Password ngModel name="Password" 
      placeholder="Password" class="form-control" required>      
    </div>
    <div class="row">
        <button [disabled]="!loginForm.valid" class="btn btn-default" type="submit">Login</button>
        <a routerLink="/register" class="btn cancel">New Account</a>
    </div>
</form>
