<div class="container controls">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="qpc-view-title">Quality Controls</h3>
      <span class='plus icon' (click)="requestControl()"></span>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
        <div class="form-group">
          <label for="Filter">Filter</label>        
          <input type="text" (keyup)="onKey($event)" placeholder="Filter by control or description" class="form-control" >
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table">
        <thead>
          <th>Id</th>
          <th>Control</th>
          <th>Product</th>
          <th>Status</th>
          <th>Desicion</th>
        </thead>
        <tbody>
          <tr *ngFor="let control of controls" (click)="showControl(control)">
            <td >{{control.id}}</td>
            <td>{{control.name}}</td>
            <td>{{control.product}}</td>
            <td>{{control.status}}</td>
            <td>{{control.desicion}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
