<div class="container controls">
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-hover">
        <thead>
          <th>Id</th>
          <th>Control</th>
          <th>Description</th>
          <th>Product</th>
          <th>Defect</th>
          <th>Desicion</th>
          <th>Status</th>
        </thead>
        <tbody>
          <tr *ngFor="let control of controls">
            <td>{{control.id}}</td>
            <td>{{control.name}}</td>
            <td>{{control.description}}</td>
            <td>{{control.product}}</td>
            <td>{{control.defect}}</td>
            <td>{{control.desicion}}</td>
            <td>{{control.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
